.main-container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(rgba(8, 0, 58, 0.7),rgba(8, 0, 58, 0.7) ),url('../../../../assets/8a78bdde47ca8066c7f08bd92e7b5353100b6282.webp');
    background-size: cover;
    background-position: center;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-text{
    text-align: center;
    max-width: 800px
}

.main-text h1{
    font-size: 50px;
    font-weight: 600;
}

.main-text p{
    max-width: 700px;
    margin: 10px auto 20px;
    line-height: 1.4;
}